/********************************** for pc? where is for tablet!! **************************/
@media screen and (min-width:481px){
    .letter1{
        font-size:110px;
        font-family: 'Noto Serif JP',serif;
        line-height: 95%;
        float:left;
        margin-right:48px;
        width:116px;
        padding-left:4px;
        height:120px;
    }
    
    .letter2{
        font-size:110px;
        font-family: 'Noto Serif JP',serif;
        width:116px;
        padding-left:4px;
        height:120px;
        line-height:95%;
        border-radius: 27px;
    }
    @supports (mask-image: paint(smooth-corners)) {
        .letter2.is-loaded {
          border-radius: 0;
          mask-image: paint(smooth-corners);
          --smooth-corners: 12;
        }
    }
    .letter2_box{width:168px;}
    .read_sample2{
        font-size:16px;
        height:48px;
    }


    #header{
        position:fixed;
        border-bottom-color:#ccc;
        border-bottom-width:1px;
        border-bottom-style:solid;
        width:100%;
        background-color: #ffffff;
        font-size:24px;
        padding-left:48px;
    }
    #content{
        padding-top:48px;
        margin-left:24px;
        width: calc(100% - 48px);
    }
    .caution1{
        background-color: rgb(212,39,39);
        color:rgb(255, 255, 255);
        border-radius: 27px;
    }
    @supports (mask-image: paint(smooth-corners)) {
        .caution1.is-loaded {
          border-radius: 0;
          mask-image: paint(smooth-corners);
          --smooth-corners: 12;
        }
      }
        
    .caution1_all{
        background-color: rgb(212,39,39);
        color:rgb(255, 255, 255);
    }
}


/******************** for smart phone ***************************/
@media screen and (max-width:480px){
	/*.pag_w{width:100%;}*/
	/*.resp_lef{float:none;width:100%;}*/
	/*.resp_mar_r15{margin-right:0px;}*/
	/*.photo_size{width:175px;height:117px;}*/
	/*#memo_test{*/
	/*	border-top-width:1px;*/
	/*	border-color:#E5E5E5;*/
	/*	border-top-style:solid;*/
	/*}*/

    .letter1{
        font-size:480px;
        font-family: 'Noto Serif JP',serif;
        line-height: 95%;
        float:left;
        margin-right:48px;
        padding-bottom:48px;
    }
    
    .letter2{
        font-size:170px;
        width:184px;
        height:184px;
        font-family: 'Noto Serif JP',serif;
        line-height:94%;
        border-radius: 41px;
    }
    @supports (mask-image: paint(smooth-corners)) {
        .letter2.is-loaded {
          border-radius: 0;
          mask-image: paint(smooth-corners);
          --smooth-corners: 6.8;
        }
    }
    .letter2_box{width:232px;}
    .read_sample2{
        font-size:24px;
        height:72px;
    }
    


    #header{
        position:fixed;
        border-bottom-color:#ccc;
        border-bottom-width:1px;
        border-bottom-style:solid;
        width:100%;
        background-color: #ffffff;
        font-size:72px;
        padding-left:48px;
    }
    #content{
        padding-top:144px;
        margin-left:48px;
        width: calc(100% - 48px);
    }
    .caution1{
        background-color: rgb(212,39,39);
        color:rgb(255, 255, 255);
        border-radius: 32px 32px 32px 32px;
    }
    
    .caution1_all{
        background-color: rgb(212,39,39);
        color:rgb(255, 255, 255);
    }
                
}
/******************** for smart phone ***************************/



body{margin:0px;padding:0px;}
a{color:#000000;}
#header a{text-decoration:none;color:#000000;}







.chkd{
    background-color: rgb(255, 255, 255);
    color:rgb(161, 177, 192);
}






    .judge{font-size:240px;font-family: serif;line-height: 100%;
    float:left;}




    .flt_lef{float:left;}
    .over_flow_no{overflow: hidden;}
    .over_flow_wrap_any{overflow-wrap:anywhere;}

.btn_c06{background-color: rgb(221, 221, 255);}

.fnt_c00{color:rgb(255, 255, 255);}
.fnt_c01{color:rgb(212, 224, 236);}
.fnt_c03{color:rgb(161, 177, 192);}
.fnt_c17{color:rgb(212,39,39);}

.bg_c00{background-color: rgb(255, 255, 255);}
.bg_c01{background-color: rgb(212, 224, 236);}
.bg_c03{background-color: rgb(161, 177, 192);}
.bg_c17{background-color: rgb(212,39,39);}

.bor_c00{border-color:rgb(255, 255, 255);}
.bor_c01{border-color:rgb(212, 224, 236);}
.bor_c03{border-color:rgb(161, 177, 192);}
.bor_c17{border-color: rgb(212,39,39);}



.bor_w1{border-width:1px;border-style: solid;}



.disp_blk{display: block;}

.h48{height:48px;}
.h120{height:120px;}
.h144{height:144px;}
.h200{height:200px;}
.h216{height:216px;}
.h240{height:240px;}
.h256{height:256px;}

.h648{height:648px;}

.lh50p{line-height:50%}
.lh100p{line-height:100%}



.w120{width:120px;}

.w200{width:200px;}
.w448{width:448px;}
.w320{width:320px;}


.pad_a16{padding:16px;}
.pad_t16{padding-top:16px;}
.pad_t144{padding-top:144px;}

.pad_l48{padding-left:48px;}

.tex_cen{text-align:center;}


.mar_t16{margin-top:16px;}
.mar_t24{margin-top:24px;}

.mar_t32{margin-top:32px;}
.mar_t72{margin-top:72px;}

.mar_r8{margin-right:8px;}
.mar_r24{margin-right:24px;}
.mar_r48{margin-right:48px;}

.mar_b30{margin-bottom:30px;}
.mar_b32{margin-bottom:32px;}
.mar_b48{margin-bottom:48px;}

.mar_l24{margin-left:24px;}
.mar_l50{margin-left:50px;}


.mar_l_at{margin-left:auto;}
.mar_r_at{margin-right:auto;}


.fnt_s24{font-size:24px;}
.fnt_s36{font-size:36px;}
.fnt_s48{font-size:48px;}
.fnt_s72{font-size:72px;}
.fnt_s108{font-size:108px;}



        .rad_8{
        /*-moz-border-radius: 6px;  */
        /*-webkit-border-radius: 6px;  */
        border-radius: 8px 8px 8px 8px;
        }


.tex_dec_no{text-decoration: none;}

.cur_poi{cursor: pointer;
}

.btn-radius-solid {
    border: 1px solid #ccc;
    background: #f1e767;
    background: -webkit-gradient(linear, left top, left bottom, from(#77d4ff), to(#2b80ff));
    background: -webkit-linear-gradient(top, #77d4ff 0%, #2b80ff 100%);
    background: linear-gradient(to bottom, #77d4ff 0%, #2b80ff 100%);
    -webkit-box-shadow: inset 1px 1px 1px #fff;
    box-shadow: inset 1px 1px 1px #fff;
    border-radius: 0.5rem;
}
  
.btn-radius-solid:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#77d4ff), to(#2b80ff));
    background: -webkit-linear-gradient(bottom, #77d4ff 0%, #2b80ff 100%);
    background: linear-gradient(to top, #77d4ff 0%, #2b80ff 100%);
    border-radius: 0.5rem;
}




.smooth_corner_r41 {
    border-radius: 41px;
  }
  @supports (mask-image: paint(smooth-corners)) {
    .smooth_corner_r41.is-loaded {
      border-radius: 0;
      mask-image: paint(smooth-corners);
      --smooth-corners: 6.8;
    }
  }





  html {
    touch-action: manipulation;
  }





[v-cloak]{display:none;}
