<html>
    <head>
        <link rel="stylesheet" href="css/base1.css">
        <title id="title1">{{site_name}} Top</title>
    </head>



    <body class="mar_a0">
      <div class="w70p mar_r_at mar_l_at mar_t5">
        <div id="head1" class="bor_b_w1 bor_c01 bor_b_s_sld fnt_s16 fnt_c03">
          {{site_name}} <img src="img/TF20_min.png" class="h24 mar_l5 ver_mid mar_b4">
        </div>
        <div class="tex_rig fnt_s12 fnt_c03 mar_b50">
          トライブファクトリー
        </div>



        <div class="flt_lef w48p mar_r15">

          <div class="bor_a_w1 bor_c02 bor_a_s_sld pad_a15 mar_b30">
            このサイトは自身の行動ログなどをまとめたものです。
          </div>


          <div class="pad_a15 mar_b30">
            メモ・テストエリア




              <div id="app" class="mar_t15">
                参考　https://jp.vuejs.org/v2/guide/

                {{ message }}
              </div>
      
      
      
              <div id="app-2">
                  <span v-bind:title="message">
                      Hover your mouse over me for a few seconds
                      to see my dynamically bound title!
                  </span>
              </div>
      
              <div id="app-3">
                  <span v-if="seen">Now you see me</span>
                </div>
      
          </div>


          <div id="app-5" class="pad_a15 mar_b30 bor_t_w1 bor_c01 bor_t_s_sld">
            アカウント利用サイト
            <ul>
              <li v-for="item in items" class="lhg_200p">
                <a v-bind:href="item.url" target="_blank">{{ item.text }}</a>
              </li>
            </ul>
          </div>






          <div id="app-4" class="pad_a15 mar_b30 bor_t_w1 bor_c01 bor_t_s_sld">
            作成したもの一覧
            <ul>
              <li v-for="item in items" class="lhg_200p">
                <a v-bind:href="item.url" target="_blank">{{ item.text }}</a>
              </li>
            </ul>
          </div>






        </div>

        <div class="flt_lef w48p">





          <di id="app-7" class="pad_a15 mar_b30">
            Google Photo Album Pickup<br/>

            <div v-for="colors in shuffle_colors" class="flt_lef mar_r1 mar_b1 over_flow_no w150 h100">
              <img :src="colors.url">
            </div>

          </div>




        </div>

        <div class="clearfix"></div>







        </div>

    </body>


    <footer>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="js/vue_control.js"></script>
    </footer>
</html>
